body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff3e7;
}

h1 {
    font-size: 30pt;
    font-family: monospace;
}

h2 {
    margin: 0px;
}

#buttons {
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
    color: inherit;
    background-color: khaki;
    border: solid 3px black;
    border-radius: 50px;
    padding: 15px 30px;
    margin: 10px;
    transition: 0.25s;
    font-size: 12pt;
    font-family: bahnschrift light;
}

a:hover {
    border: solid 3px #521a00;
    padding: 15px 40px;
}