body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff3e7;
    font-family: Arial light;
}

h1 {
    font-size: 30pt;
    background-color: #f0d67a;
    padding: 20px 350px;
    border: solid 3px #521a00;
    border-radius: 5px;
}

h2 {
    margin: 0px;
}

#buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: inherit;
    background-color: khaki;
    border: solid 3px black;
    border-radius: 50px;
    padding: 15px 30px;
    margin: 10px;
    width: 150px;
    text-align: center;
    transition: 0.25s;
    font-size: 12pt;
}

a:hover {
    border: solid 3px #521a00;
    background-color: #e0c64c;
}